

<h1>TWO HANDS ENTER!</h1>
<!-- Example split danger button -->


<form action="/game/outcome" method="post">
  <label for="new-game">Hit the button to play a round of ROCK PAPER SCISSORS:</label>
  <input id="player1" name="player1" type="password">


  <label for="new-game">Player2<label>
  <input id="player2" name="player2" type="password">


  <button type="submit">Play!</button>
</form>
