@{
  Layout="Shared/_Layout.cshtml";
}

<h1>TWO HANDS ENTER!</h1>


<form action="/game/outcome" method="post">
  <label for="new-game">Hit the button to play a round of ROCK PAPER SCISSORS:</label>
  <input id="new-game" name="new-game">
  <button type="submit">Play!</button>
</form>
