<h1> Would you like to play a game? </h1>


<form action="/game/outcome" method="post">
  <label for="new-game">Hit the button to play a round:</label>
  <input id="new-game" name="new-game">
  <button type="submit">Play</button>
</form>
