

<h1>TWO HANDS ENTER!</h1>
<!-- Example split danger button -->

@if(ViewBag.Error != null)
{
  <h3>@ViewBag.Error</h3>
}
<h2>Let's play some Rock Paper Scissors!</h3>
<h3>To play, you must spell rock, paper, or scissors correctly. Do not look at your opponents entry.</h3>
<form action="/outcome" method="post">
  <label for="new-game">Player 1</label>
  <input id="player1" name="player1" type="password">
<br>
<br>
  <label for="new-game">Player 2<label>
  <input id="player2" name="player2" type="password">
<br>
<br>
  <button type="submit">Play!</button>
</form>
